.game-store-page {
  font-family: Nunito;
  color: white;
}

.game-store-page .game-store-content {
  padding: 5% 0 0 0;
}

.game-store-page .game-store-content .game-store-custom-breadcrumb ul {
  padding: 10px 16px;
  list-style: none;
  background-color: transparent;
}

/* Display list items side by side */
.game-store-page .game-store-content .game-store-custom-breadcrumb ul li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
.game-store-page
  .game-store-content
  .game-store-custom-breadcrumb
  ul
  li
  + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.game-store-page .game-store-content .game-store-custom-breadcrumbul li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
.game-store-page
  .game-store-content
  .game-store-custom-breadcrumb
  ul
  li
  a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.game-store-page .game-store-content .game-store-game-gallery img {
  width: 100%;
}

.game-store-page
  .game-store-content
  .game-store-game-gallery
  .game-store-category-name {
  font-size: 160%;
}

.game-store-page
  .game-store-content
  .game-store-game-gallery
  .game-store-category-name::after {
  display: inline-block;
  content: "";
  width: 20%;
  height: 5px;
  background: rgb(220, 53, 69);
  margin-left: 1%;
}

// .game-store-page .game-store-content .game-store-platforms .card .card-body i {
//   padding-right: 10%;
//   border-right: 1px solid white;
// }

.game-store-page .game-store-content .game-store-game-list .game-cover img {
  width: 100%;
  height: 320px;
}

.game-store-page .game-store-content .game-store-game-list .game-preview {
  font-size: 100%;
}

.pagination >.page-item > .page-link { 
  border-radius: 50% !important;
  margin: 0 5px;
  background-color: transparent;
  border: transparent;
  color: white;

}

.pagination > li:hover > .page-link, .pagination > .page-item.active >.page-link {
  border: 1px solid #dc3545;
  color: #dc3545;
}

.pagination > .page-item.disabled >.page-link {
  color: grey;
}

@media only screen and (min-width: 845px) {
  .game-store-page
    .game-store-content
    .game-store-game-list
    .game-preview
    .game-price {
    position: absolute;
    bottom: 10%;
    left: 0;
  }

    .game-store-page
    .game-store-content
    .game-store-game-list
    .game-preview
    button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 844px) {
  .game-store-page
  .game-store-content
  .game-store-game-list
  .game-preview
  .game-title {
  margin-top: 3%;
}
}
