.login-page {
    color: white;
    font-family: Nunito;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../../../assets/background-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4% 0 4% 0;
}

.login-page .login-form img {
    max-width: 200px;
    width: 100%;
}

.login-page .login-form h1 {
    font-size: 200%;
}

