.cart-page {
	font-family: Nunito;
	color: white;
	.cart-content {
		padding: 5% 0 0 0;
		.cart-custom-breadcrumb {
			ul {
				padding: 10px 16px;
				list-style: none;
				background-color: transparent;
				li {
					display: inline;
					font-size: 14px;
					+ {
						li {
							&:before {
								padding: 8px;
								color: white;
								content: "/\00a0";
							}
						}
					}
					a {
						color: white;
						text-decoration: none;
						&:hover {
							opacity: 0.7;
							text-decoration: underline;
						}
					}
				}
			}
        }
    }
}

.cart-page {
    background: linear-gradient(to top, black, rgba(0,0,0,0.8)), url('../../assets/background-login.jpg');
}

.cart-page .cart-content .cart-table .non-empty-table img {
    width: 15%;
    margin-right: 2%;
}


.cart-page .cart-content .cart-table .non-empty-table td button {
    outline: 0;
    background-color: transparent;
    border: none;
}

.cart-page .cart-content .empty-cart {
    padding-bottom: 10%;
    img {
        width: 25%;
        padding: 5% 2% 3% 2%;
    }
}