.cart-page {
  font-family: Nunito;
  color: white;
  .cart-content {
    padding: 5% 0 0 0;
    .cart-custom-breadcrumb {
      ul {
        padding: 10px 16px;
        list-style: none;
        background-color: transparent;
        li {
          display: inline;
          font-size: 14px;
          + {
            li {
              &:before {
                padding: 8px;
                color: white;
                content: "\003e";
              }
            }
          }
          a {
            color: white;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .cart-table {
      .non-empty-table {
        img {
          max-width: 150px;
          width: 100%;
          padding-right: 2%;
        }
        td {
          button {
            outline: 0;
            background-color: transparent;
            border: none;
          }
          font-size: 100%;
          input {
            width: 100%;
          }
        }
      }
    }
    .cart-checkout {
      .cart-checkout-table {
        td {
          font-size: 100%;
        }
      }
    }
    .empty-cart {
      padding-bottom: 10%;
      img {
        width: 25%;
        padding: 5% 2% 3% 2%;
      }
    }
  }
}
