.page404 {
    color: white;
}

.page404 .page404-display {
    padding: 7% 0 7% 0;
}

.page404 .page404-display .text-404 {
    font-size: 800%;
}

.page404 .page404-display .page404-current-location {
    color: rgb(39, 130, 160);
}

.page404 .page404-display .msg-404 > p {
    font-size: 110%;
}
