.game-item-page {
  font-family: Nunito;
  color: white;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.8)),
    url("../../assets/background-login.jpg");
  .game-item-content {
    padding: 5% 0 0 0;
    .game-item-custom-breadcrumb {
      ul {
        padding: 10px 16px;
        list-style: none;
        background-color: transparent;
        li {
          display: inline;
          font-size: 14px;
          + {
            li {
              &:before {
                padding: 8px;
                color: white;
                content: "\003e";
              }
            }
          }
          a {
            color: white;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .game-item-preview {
      .game-cover {
        img {
          width: 100%;
        }
        .game-gallery {
          position: relative;
          .game-gallery-col {
            img {
              width: 100%;
            }
            .gallery-image-overlay {
              position: absolute;
              display: block;
              top: 0;
              left: 15px;
              width: calc(100% - 30px);
              height: 100%;
              background-color: #d4183b;
              opacity: 0;
              z-index: 0;
              transition: 0.2s ease-in-out;
              pointer-events: none;
              i {
                padding-top: 20%;
              }
            }
            &:hover {
              .gallery-image-overlay {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 633px) {
  .game-item-page {
    .game-item-content {
      .game-item-preview {
        .game-preview {
          margin-top: 3%;
        }
      }
    }
  }
}
